footer {
    padding: 30px;
      background-color: rgb(189, 50, 119);
      color: aliceblue;
}

.f1 {
    display: flex;
    justify-content: space-between;
}

i{
    margin: 8px;

}
.f2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 20px;
}
li{
    list-style: none;
    text-align: center;
}

.f3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1{
    text-align: start;
 
}

.about{
    text-align: justify;
}