.c2 {
    display: flex;
    justify-items: start;
    margin-left: 120px;
    padding-bottom: 50px;

}

.card1 {
    text-align: center;
    background-color: rgb(251, 245, 249);
    /* width: 200px; */
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.205);

}