<app-header></app-header>
<section>
    <p>Jan 5, 2026, 9:55:58 AM</p>
    <input type="text" placeholder="Search Recipes" name="" id="">
    <div class="R1">
        <div class="Filter">
            <h5>Filter</h5>
            <p class="cursor-pointer" (click)="getAllRecipes()">All</p>
            <select (change)="filterRecipe('cuisine',$event)" name="cuisine-type" id="">
                <option value="" hidden>Cuisine Type</option>
                @for (item of cuisineType; track $index) {
                <option [value]=item>{{item}}</option>
                }
            </select>
            <select (change)="filterRecipe('mealType',$event)" name="meal-type" id="">
                <option value="" hidden>Meal Type</option>
                @for (item of mealtype; track $index) {
                <option [value]=item>{{item}}</option>
                }
            </select>

        </div>

        <div class="section2">
            <h1>All Recipes</h1>

            <div class=" row c2 ">
                @for (item of allRecipes | paginate: { itemsPerPage: 6, currentPage: p } ; track $index) {
                <div (click)="viewARecipe(item._id)" class="card" style="width: 18rem;">
                    <img [src]=item.image class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">{{item.name}}</p>
                    </div>
                </div>
                }
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>