.main {
    background-color: rgb(252, 212, 239);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 40px;

}

.c1 {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c1 h1 {
    text-align: start;
    width: 450px;
    font-size: 40px;
    color: rgb(189, 50, 119);
    padding-bottom: 10px;

}

.c1 button {
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: rgb(160, 2, 131);
    background-color: rgb(255, 202, 233);
    border: 1px solid rgb(160, 2, 131);
    align-self: self-start;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 5px;
}

.c1 button:hover {
    color: rgb(211, 16, 176);
    background-color: rgb(253, 231, 244);
    border: 1px solid rgb(211, 16, 176);
    transition: 0.2s;
}

.c1 button:active {
    color: rgb(160, 2, 131);
    background-color: rgb(253, 224, 241);
    border: 1px solid rgb(255, 3, 209);
    transition: 0.2s;
}

.c1 p {
    text-align: start;
    width: 450px;
    font-size: 15px;
    color: rgb(123, 121, 3);

}

.section2 {
    padding: 25px;
    background-color: rgb(255, 227, 243);
    /* height: 90vh; */
    width: 100%;
}

h1 {
    margin: 20px;
    color: rgb(87, 27, 57);
}

.c2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: rgb(251, 245, 249);
}

.c2 button {
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

.c2 button:hover{
    color: rgb(129, 110, 110);
}

#LandinImg:hover{
    animation: rot 2s infinite;
    transition: 0.5s
}
@keyframes rot {

    0% { transform: rotate(0deg); }
    5% { transform: rotate(18deg); }
    10% { transform: rotate(36deg); }
    15% { transform: rotate(54deg); }
    20% { transform: rotate(72deg); }
    25% { transform: rotate(90deg); }
    30% { transform: rotate(108deg); }
    35% { transform: rotate(126deg); }
    40% { transform: rotate(144deg); }
    45% { transform: rotate(162deg); }
    50% { transform: rotate(180deg); }
    55% { transform: rotate(198deg); }
    60% { transform: rotate(216deg); }
    65% { transform: rotate(234deg); }
    70% { transform: rotate(252deg); }
    75% { transform: rotate(270deg); }
    80% { transform: rotate(288deg); }
    85% { transform: rotate(306deg); }
    90% { transform: rotate(324deg); }
    95% { transform: rotate(342deg); }
    100% { transform: rotate(360deg); }


}