<app-header></app-header>
<section>
    <div class=" c2">
        <div class="c1 p-5 mt-5">
            <img width="200px" src="https://icons.veryicon.com/png/o/miscellaneous/user-avatar/user-avatar-female-9.png"
                alt="" srcset="">
            <button type="button">Update Profile</button>
        </div>
        <div>
            <h2 class="text-center p-4 m-4">Downloaded Recipes List</h2>
            @if (downloadedRecipes.length > 0) {
            <div class="row">
                @for (item of downloadedRecipes; track $index) {
                <div class="card1 col-3">
                    <img [src]=item.image width="100%"
                        class="" alt="">
                    <div class="card-body">
                        <p class="m-0">{{item.name}}</p>
                        <p class="m-0">{{item.cuisine}}</p>
                        <p class="m-0">Servings : {{item.servings}}</p>
                    </div>
                </div>
                }
               
            </div>
            }
            @else {
            <p class="text-center fs-5 text-danger">No Downloaded Recipes....</p>
            }

        </div>
    </div>
</section>
<app-footer></app-footer>