section {
    margin: 50px;
}

.c1 {
    display: flex;
    flex-direction: column;
}

.c1 button {

    background-color: rgb(0, 111, 35);
    color: aliceblue;
    height: 45px;
    width: 180px;
    border: 1px solid rgb(208, 144, 171);
    border-radius: 4px;
}

.c1 button:hover {
    background-color: rgb(117, 224, 78);
    color: black;
    border: 0;
    box-shadow: 2px 2px 8px rgb(6, 83, 30);
    transition: 0.2s;
}

.c1 button:active {
    background-color: rgb(29, 195, 82);
    border: 1px solid rgb(112, 209, 142);
    transition: 0.1s;
}

.c2 {
    display: flex;
    justify-items: start;
    margin-left: 120px;
    padding-bottom: 50px;

}

.card1 {
    text-align: center;
    background-color: rgb(251, 245, 249);
    /* width: 200px; */
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.205);

}