<app-header></app-header>
<section>
    <button routerLink="/all-recipes" type="button"><i class="fa-solid fa-arrow-left"></i>Back to recipe list</button>
    <div class="vr1">
        <div>
            <img width="500px" height="400px" [src]='recipe.image' alt="" srcset="">
            <div class="vr1">
                <button (click)="saveRecipe(recipe._id,recipe.name,recipe.image)" class="b1" type="button">Save
                    Recipe</button>
                <button (click)="addToDownloadRecipe(recipe._id,recipe)" class="b2" type="button">Download Recipe</button>
            </div>
        </div>
        <div>
            <h1>{{recipe.name}}</h1>
            <div class="vr1">
                <h6>Cuisine :{{recipe.cuisine}}</h6>
                <h6>Servings : {{recipe.servings}}</h6>
                <h6>Mode of Cooking : {{recipe.difficulty}}</h6>
            </div>
            <div class="vr1">
                <h6>Preparation Time : {{recipe.prepTimeMinutes}}/m</h6>
                <h6>Calorie : {{recipe.caloriesPerServing}}</h6>
                <h6>Cooking Time :{{recipe.cookTimeMinutes}}/m</h6>
            </div>
            <h3>Ingredients Needed</h3>
            <ol>
                @for (item of recipe.ingredients; track $index) {
                <li>{{item}}</li>
                }
            </ol>
            <h3>Cooking Instruction</h3>

            <ol>
                @for (item of recipe.instructions; track $index) {
                <li>{{item}}</li>
                }
            </ol>

        </div>
    </div>
    <h4>Related Recipes</h4>

    <div class="c2">
        @for (item of relatedRecipe; track $index) {
        @if (item.name !== recipe.name) {
        <div (click)="viewARelatedRecipe(item._id)" class="card1">
            <img [src]=item.image class="" alt="">
            <div class="card-body">
                <p class="card-text">{{item.name}}</p>
            </div>
        </div>
        }

        }

    </div>
</section>

<app-footer></app-footer>